@import "./../../assets/variables.scss";

.main_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $mainBG;
  color: $mainText;

  .content_container {
    background-color: $secondaryBG;
    height: 50%;
    width: 50%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .shrug {
    width: 30%;
  }
}
